<%= form_with(model: myfirstapp, local: true) do |form| %>
  <% if myfirstapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(myfirstapp.errors.count, "error") %> prohibited this myfirstapp from being saved:</h2>

      <ul>
      <% myfirstapp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
